.page {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    font-weight: normal; 
}

.heading {
    font-family: 'Rift', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.page{
    background-image: url(../img/background.png);
    margin-left: 5vw;
    margin-right: 5vw;
}