.page {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.heading,
.nav__logo,
.buttons,
.landing__icons {
  font-family: "Rift", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.page {
  background-image: url(../img/background.png);
  background-size: cover;
  background-color: #9d1114;
  color: var(--white);
}
.page__content {
  padding-left: 5vw;
  padding-right: 5vw;
}
body {
  --dark: #000000;
  --blue: #0078ef;
  --white: #ffffff;
  overflow-x: hidden;
  --gold: #d39050;
}
.image {
  display: block;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}
.page__nav_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.nav__design .nav__ornament {
  width: 90vw;
}
.page__header {
  max-width: 95%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 20px;
}

.nav__link {
  color: var(--gold);
  font-size: 36px;
}
.landing__image {
  height: 30vh;
  margin: 0 auto;
  margin-bottom: 15px;
}
.buttons {
  background-color: var(--gold);
  color: var(--dark);
  border: solid var(--dark) 5px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
}
.buttons-reverse {
  background-color: var(--dark);
  color: var(--gold);
  border: solid var(--gold) 5px;
}
.landing__icons {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 26px;
  color: var(--gold);
}
.icons_wrapper {
  display: flex;
  align-items: center;
}
.landing__text {
  text-align: justify;
}
.heading_2 {
  font-size: 28px;
}
.heading_3 {
  font-size: 24px;
  text-align: center;
}
.drink__image {
  height: 35vh;
  margin: 0 auto;
}
.drink__info {
  text-align: center;
}
.drink__text {
  text-align: justify;
  margin-bottom: 3em;
}
.footer {
  background-color: var(--gold);
  color: var(--dark);
  border-top: solid var(--dark) 8px;
  border-bottom: solid var(--dark) 8px;
  text-align: center;
}
.footer__mail a {
  color: var(--dark);
  font-size: 24px;
  display: block;
}
.footer__social {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  max-width: 45vw;
}
.footer__social .icon {
  color: var(--dark);
}
.menu{
    background-color: var(--dark);
    list-style-type: none;
    padding-left: 0;
    font-size: 28px;
}
.menu__item a{
    color: var(--gold);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.menu__item:first-child a{
padding-top: 10px;
}
.menu__item:last-child a{
    padding-bottom: 10px;
}

@media screen and (min-width: 639px) {
    .page__nav {
        display: grid; 
        grid-template-columns: min-content 1fr; 
        grid-template-rows: min-content auto; 
        gap: 0px 10px; 
        grid-template-areas: 
          "page__nav_wrapper page__nav__container"
          "nav__design page__nav__container"; 
          justify-content: space-between;

      }
      .page__nav_wrapper { grid-area: page__nav_wrapper; }
      .page__nav__container { grid-area: page__nav__container; }
      .nav__design { grid-area: nav__design; }
      .nav__design .nav__ornament{
          width: 250px;

      }
      .menu{
          display: flex;
          flex-direction: row;
          margin: 0;
      }
      .menu{
        font-size: 22px;
        justify-content: space-evenly;
        display: flex;

    }
    .menu__item:first-child a{
    padding-top: 5px;
    }
    .menu__item:last-child a{
    padding-bottom: 5px;
    }
    .menu__item a{
        color: var(--gold);
        padding: 5px;
    }

    .page__nav_wrapper{
        display: unset;
        margin: 0;
    }
    .footer__social{
        max-width: 300px;
    }
}
@media screen and (min-width: 1023px) {
    .page__nav{
        align-items: center
    }
    .page__landing{
        display: flex;
        align-items: center;
        justify-content: center
    }
    .landing__image{
        width: 30vh;
        height: auto;
        margin: 0;
    }
    .page__landing_wrapper{
        max-width: 600px;
    }
    .page__section_drink{
        max-width: 800px;
        margin: 0 auto;
    }
    .drink__text{
        max-width: 500px;
        margin: 0 auto;
    }
    .page__section{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .page__nav{
        max-width: 920px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1335px) {
    .page__section{
        margin-top: 5em;
        margin-bottom: 5em;
    }
}